body {
    font-family: 'candara'; 
    background-image:url('background.jpg'); 
    height: 1600px; 
    border: 10px solid lightcoral; 
    border-radius: 100px;
    font-weight: bold;
    }

div#main {width: 1475px;height: 350px; margin: 20px; position: relative;}

h1 {text-align: center;font-size: 60px; filter: blur(1px);}

#mainPic {width: 500px; height: 333px; padding: 10px; background-color: lightcoral; border-radius: 50px;filter:blur(0.5px)}

#description {font-size: 21px; float: right; vertical-align: text-top ;padding: 20px;}

#divPics {position: relative;}

.additionalPic {width: 50px; height: auto; padding: 1px; float: left; border: 5px solid lightcoral; border-radius: 5px;}
.additionalPic:hover {
    animation-name: expand;
    animation-fill-mode: forwards;
    animation-duration: 2s;}

@keyframes expand  {
    100% { left:300px; transform: translate(300px) scale(13);}
    
}

#available {margin-left: 550px;font-size: 23px;text-align: center;}

.list li
{
    float: left;
    list-style-position: inside;
    list-style-type: disc;
    margin-right: 1em;
}

.list {
    padding-left: 1em;
}

#prices, #reviews {float: right;font-size: 30px; font-weight: bold;margin-right: 40px; border: 5px solid lightcoral;padding: 5px; border-radius: 25px;text-align: center;}

#prices {margin-top: 70px;}

#location { color: #000000; 
    background-color: lightcoral; 
    border: 10px solid red;
    padding: 5px 5px;border-radius: 50px;}

#location:hover {background-color: blue; 
    border: 10px solid yellow;}

#whatToDo {float: left;font-size: 30px;text-align: center;width: 500px;margin-top: 60px;}

.places {padding: 20px;}

#reviewLabel {font-size: 30px; margin-left: 40px;}

hr { background-color: red; height: 0px; border: 0; }

#comments {font-size: 20px; margin-left: 500px; margin-right: 50px; 
    border: 5px solid lightcoral; border-radius: 20px;
height: 350px; overflow: auto; background-blend-mode: difference;}

.buttons {float: left;width:800px;margin-top: 40px;margin-left: 150px;}

#back, #request, #contacts {float: left; color: lightcoral; background-color: lightskyblue; font-family:'candara'; font-size: 30px; border-radius: 5px;cursor: pointer;}

#request, #contacts {margin-left: 50px;}

#back:hover, #request:hover, #contacts:hover {color:lightblue; background-color:coral}

#copyright {margin-left: 50px; font-size: 18px;}


