        html {
            background-image: url("/Images/b1.gif");
            background-size: cover;
        }
        
        html,
        body {
            height: 100%;
        }
        
        body {
            color: dodgerblue;
            background-image: url("/Images/b1.gif");
            background-size: cover;
            font-family: 'Open Sans', 'msc_gs_stdregular', Helvetica, Arial, sans-serif;
            font-size: 13px;
            font-weight: normal;
            -webkit-text-size-adjust: 100%;
            text-size-adjust: 100%;
            min-width: 980px;
        }
        
        h1 {
            text-align: center;
        }
        
        .sectionTitle {
            font-size: 3.3rem;
            text-align: center;
            margin: 0 0 1rem;
            font-family: 'papyrus';
            position: top;
            margin-top: -2%;
        }
        
        .logo {
            text-align: left;
        }
        
        .quote {
            text-align: center;
            padding: 0 2.5rem;
            margin-bottom: 1rem;
            line-height: 1.2;
            font-family: "Adobe Garamond";
            position: relative;
            font-size: 1.15rem;
            font-style: italic;
        }
        
        blockquote {
            margin: 0 0 1rem;
        }
        
        h2 {
            text-align: center;
            color: darkblue;
        }
        
        .allHouses img {
            width: 400px;
            border-radius: 3px;
            border: 1px solid #d0d1d8;
        }
        
        .locations img {
            width: 25px;
            border-radius: 2px;
            border: 1px solid #d0d1d8;
        }
        
        #house1 {
            position: absolute;
            left: 2.5%;
            top: 20%;
        }
        
        #map {
            position: absolute;
            left: 35%;
            top: 20%;
        }
        
        #house2 {
            position: absolute;
            left: 67.5%;
            top: 20%;
        }
        
        #house3 {
            position: absolute;
            left: 2.5%;
            top: 62%;
        }
        
        #house4 {
            position: absolute;
            left: 35%;
            top: 62%;
        }
        
        #house5 {
            position: absolute;
            left: 67.5%;
            top: 62%;
        }
        
        h3 {
            position: absolute;
            top: 102%;
            left: 20%;
        }
        
        #wasp1 {
            position: absolute;
            left: 53%;
            top: 29%;
        }
        
        #wasp2 {
            position: absolute;
            left: 57%;
            top: 41%;
        }
        
        #wasp3 {
            position: absolute;
            left: 41%;
            top: 44%;
        }
        
        #wasp4 {
            position: absolute;
            left: 45%;
            top: 46%;
        }
        
        #wasp5 {
            position: absolute;
            left: 57%;
            top: 31%;
        }
        
        #hidden1,
        #hidden2,
        #hidden3,
        #hidden4,
        #hidden5 {
            visibility: hidden;
            color: lightblue;
            background-color: darkblue;
            position: relative;
            bottom: 20px;
            border-radius: 3px;
            font-size: 15px;
        }
        
        #symbol1:hover~#hidden1 {
            visibility: visible;
        }
        
        #symbol2:hover~#hidden2 {
            visibility: visible;
        }
        
        #symbol3:hover~#hidden3 {
            visibility: visible;
        }
        
        #symbol4:hover~#hidden4 {
            visibility: visible;
        }
        
        #symbol5:hover~#hidden5 {
            visibility: visible;
        }
        
        #symbol1:hover,
        #symbol2:hover,
        #symbol3:hover,
        #symbol4:hover,
        #symbol5:hover {
            animation-name: waspRotate;
            animation-duration: 100ms;
            animation-iteration-count: infinite;
        }
        
        @keyframes waspRotate {
            0% {
                transform: translateX(1px) rotate(2deg);
            }
            10% {
                transform: translateX(2px) rotate(4deg);
            }
            20% {
                transform: translateX(3px) rotate(6deg);
            }
            30% {
                transform: translateX(2px) rotate(4deg);
            }
            40% {
                transform: translateX(1px) rotate(2deg);
            }
            50% {
                transform: translateX(-1px) rotate(-2deg);
            }
            60% {
                transform: translateX(-2px) rotate(-4deg);
            }
            70% {
                transform: translateX(-3px) rotate(-6deg);
            }
            80% {
                transform: translateX(-2px) rotate(-4deg);
            }
            90% {
                transform: translateX(-1px) rotate(-2deg);
            }
        }
        
        #about {
            float: right;
            margin-right: 3%;
            color: lightblue;
            background-color: darkblue;
            width: 150px;
            height: 30px;
            font-size: large;
            margin-top: 620px;
            border-radius: 3px;
            border: none;
            cursor: pointer;
        }
        
        footer {
            display: block;
            min-width: 980px;
            width: 100%;
            margin-top: 30px;
        }
        
        h3 {
            text-align: center;
            color: darkblue;
        }