    body {
        margin: 0 auto;
        min-height: 100%;
        font-family: 'Helvetica Neue', sans-serif;
        background-color: #FFF;
        -webkit-font-smoothing: antialiased;
        overflow-x: hidden;
    }
    
    html {
        font-family: 'Helvetica Neue', sans-serif;
        line-height: 1.35;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        background-size: 100%;
        text-rendering: optimizeLegibility;
        font-variant-ligatures: common-ligatures;
        color: #555;
    }
    
    #header {
        text-align: center;
        font-size: 2.5rem;
        color: #333435;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: inherit;
        line-height: 1.1;
        font-weight: bold;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .heading {
        font-size: 25px;
        margin-right: 25px;
    }
    
    .fa {
        font-size: 25px;
    }
    
    .checked {
        color: orange;
    }
    
    .side {
        float: left;
        width: 15%;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .middle {
        float: left;
        width: 70%;
        margin-top: 10px;
    }
    
    .right {
        text-align: left;
        width: 10%;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .bar-container {
        width: 80%;
        background-color: #f1f1f1;
        text-align: right;
        color: white;
    }
    
    .bar-5 {
        width: 60%;
        height: 18px;
        background-color: #4CAF50;
    }
    
    .bar-4 {
        width: 30%;
        height: 18px;
        background-color: #2196F3;
    }
    
    .bar-3 {
        width: 10%;
        height: 18px;
        background-color: #00bcd4;
    }
    
    .bar-2 {
        width: 4%;
        height: 18px;
        background-color: #ff9800;
    }
    
    .bar-1 {
        width: 15%;
        height: 18px;
        background-color: #f44336;
    }
    /* Responsive layout - make the columns stack on top of each other instead of next to each other */
    
    @media (max-width: 400px) {
        .side,
        .middle {
            width: 10%;
        }
        /* Hide the right column on small screens */
        .right {
            display: none;
        }
    }
    
    .box2 {
        display: block;
        padding: 20px 0;
    }
    
    .column1 {
        float: left;
        padding-right: 10px;
        width: 31%;
    }
    
    .column2 {
        float: left;
        padding-right: 10px;
        width: 32%;
    }
    
    .column3 {
        float: left;
        padding: 0;
        width: 32%;
    }
    
    .box2 ul {
        margin: 0;
        padding: 8px 0 0;
        list-style: none;
    }
    
    .box2 ul li {
        border-left: 2px solid#555;
        line-height: 15px;
        margin: 0 0 10px;
        padding: 0 0 0 10px;
        text-align: left;
        font-size: 1.2rem;
    }
    
    @media all and (min-width:768px) {
        html {
            font-size: 118.75%
        }
    }
    
    @media all and (min-width:992px) {
        html {
            font-size: 131.25%
        }
    }
    
    @media all and (min-width:1200px) {
        html {
            font-size: 150%
        }
    }
    
    .dark-background {
        background: #082038
    }
    
    .grey-background {
        background: #E7E5E1
    }
    
    .light-background {
        background: #A1B7C9
    }
    
    .olive-background {
        background: #E6E5DA;
    }
    
    .charcoal-background {
        background-color: #333;
    }
    
    a {
        color: #102C46;
    }
    
    h1 {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 2.8125em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        font-weight: 200;
    }
    
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 500;
    }
    
    h2,
    h4 {
        text-align: center;
    }
    
    .clear {
        clear: both
    }
    
    .align-center {
        text-align: center
    }
    
    .navcontainer {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 2%;
        margin-left: 2%;
        width: 100%
    }
    
    #topnav {
        font-size: 0.5em;
        line-height: 1;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        text-align: center;
        padding-top: 10px;
        border: none;
        background-color: transparent
    }
    
    #topnav .topnavlogo {
        background: no-repeat center center;
        float: left;
        height: 50px;
        max-width: 130px;
        padding: 0px;
        margin: 0px 5px 5px;
        width: 100%;
    }
    
    @media (max-width:767px) {
        #topnav.navbar {
            background-color: #333;
        }
    }
    
    @media (max-width: 767px) {
        #topnav .nav .navbar-collapse {
            color: #FFF;
        }
    }
    
    #topnav li.pv a {
        color: #FFF;
        font-size: 1.1rem;
        padding: 8px 8px 8px;
    }
    
    #topnav li.active a,
    li a:hover {
        padding-bottom: 4px;
        border-bottom: 5px solid #102C46;
    }
    
    @media (max-width:767px) {
        #topnav li.pv a {
            color: #FFFFFF;
        }
        #topnav li.pv a:hover {
            padding-bottom: 9px;
            border: none;
            color: #868777;
            font-weight: 500;
        }
    }
    
    #topnav ul>li.pvd a {
        color: #FFF;
        font-size: 1.1rem;
        padding: 8px 8px 8px;
        text-decoration: none;
        position: relative;
        display: block
    }
    
    #topnav ul>li.pvd a:hover {
        border-bottom: none;
    }
    
    #topnav li ul.dropdown {
        width: 150px;
        /* Set width of the dropdown */
        background-color: #EAEAE2;
        color: #102C46;
        display: none;
        position: absolute;
        z-index: 999;
        text-transform: none;
        font-size: 1.1rem;
        line-height: 1.4rem;
        text-align: left;
        padding: 5px;
        left: 0;
    }
    
    #topnav li:hover ul.dropdown {
        display: block;
        /* Display the dropdown */
    }
    
    #topnav li ul.dropdown li {
        display: block;
    }
    
    #topnav li ul.dropdown a {
        color: #102C46;
    }
    
    #topnav li ul.dropdown a:hover {
        color: #C4BBAC
    }
    
    @media (max-width:767px) {
        #topnav li ul.dropdown {
            width: 100%;
            background-color: #EAEAE2;
            text-align: center
        }
        #topnav li ul.dropdown a {
            color: #102C46;
        }
        #topnav li.pvd a:hover {
            color: #868777;
            font-weight: 500;
        }
    }
    
    #topnav li.pvld a {
        color: #102C46;
        font-size: 1.1rem;
        padding: 8px 8px 8px;
        text-decoration: none;
        position: relative;
        display: block;
        border-bottom: none
    }
    
    @media (max-width:767px) {
        #topnav li.pvld a {
            color: #FFF;
        }
        #topnav li.pvld a:hover {
            padding-bottom: 9px;
            border: none;
            color: #868777;
            font-weight: 500;
        }
    }
    
    #topnav li.pvl a {
        color: #102C46;
        font-size: 1.1rem;
        padding: 8px 8px 8px;
    }
    
    @media (max-width:767px) {
        #topnav li.pvl a {
            color: #FFF;
        }
        #topnav li.pvl a:hover {
            padding-bottom: 9px;
            border: none;
            color: #868777;
            font-weight: 500;
        }
    }
    
    #topnav li.pvb a {
        color: #FFF;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 8px 8px 8px;
    }
    
    @media (max-width:767px) {
        #topnav li.pvb a {
            font-size: 1.1rem;
            font-weight: none;
        }
        #topnav li.pvb a:hover {
            padding-bottom: 9px;
            border: none;
            color: #868777;
            font-weight: 500;
        }
    }
    
    #topnav ul>li.booking a {
        color: #102C46;
        font-size: 1.1rem;
        font-weight: 600;
        border: 1px solid #868777;
        background-color: #EAEAE2;
        margin: 0px;
        padding: 8px 5px
    }
    
    #topnav ul>li.booking a:hover {
        background-color: #868777;
    }
    
    .content {
        margin: 10px 0px
    }
    
    .dark-layout .content-container {
        margin: 0px 5px 0px 15px;
        padding: 5px;
    }
    
    .row-padded {
        padding: 0 35px;
    }
    
    .insetrow {
        margin: 0px;
    }
    
    .row-gallery {
        max-width: 85em;
        margin: 0px
    }
    
    .row-centered {
        margin: 0 auto;
        width: 80%;
    }
    
    .iframe {
        width: 310;
        height: 174;
    }
    
    .lead {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff
    }
    
    .header {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    
    .locoheader {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        background: no-repeat center center;
        width: 100%;
        background-size: cover
    }
    
    .tariffheader {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        background: no-repeat center center;
        width: 100%;
        background-size: cover
    }
    
    .activityheader {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        background: no-repeat center center;
        width: 100%;
        background-size: cover
    }
    
    .pvactivityheader {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        background: no-repeat center center;
        width: 100%;
        background-size: cover
    }
    
    .aboutheader {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        background: no-repeat center center;
        width: 100%;
        background-size: cover
    }
    
    .intro-header {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        background: url(../images/the-didi-house-home.jpg) no-repeat center center;
        width: 100%;
        background-size: cover
    }
    
    .intro-message {
        text-align: center;
        position: relative;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    
    .intro-message>h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3rem;
        font-weight: 200
    }
    
    .intro-divider {
        width: 600px;
    }
    
    .intro-message>h3 {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    
    @media(max-width:767px) {
        .intro-message {
            padding-bottom: 15%;
        }
        .intro-message>h1 {
            font-size: 2rem;
            padding-top: 1rem
        }
        ul.intro-social-buttons>li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        ul.intro-social-buttons>li:last-child {
            margin-bottom: 0;
        }
        .intro-divider {
            width: 100%;
        }
    }
    
    #map {
        width: 100%;
        height: 500px;
        margin: 20px 0px 10px 10px;
        border: 2px solid #868777
    }
    
    @media(max-width:767px) {
        #map {
            height: 300px;
            margin: 5px 0px 0px
        }
    }
    
    .ptdescription {
        font-family: 'Habibi', serif
    }
    
    .ptdescription a {
        color: #4D4D2D;
        font-weight: 500
    }
    
    .ptdescription a:hover,
    a:focus,
    a:active {
        color: #868777;
        text-decoration: none
    }
    
    .ptdescription p {
        padding: 2.3rem 0px;
        margin-top: 5rem;
        font-size: 1.6rem;
        line-height: 3rem;
        border-color: #868777;
        border-style: solid;
        border-width: 2px 0px 2px 0px;
    }
    
    @media(max-width:1200px) {
        .ptdescription p {
            padding: 1rem 0px;
            margin-top: 3rem;
            font-size: 1.4rem;
            line-height: 2.5rem;
        }
    }
    
    @media(max-width:992px) {
        .ptdescription p {
            margin-top: 1.5rem;
        }
    }
    
    .pt {
        border: none;
        text-align: center;
        padding-top: 1.8rem;
        margin-bottom: 1rem
    }
    
    .pt .btn-book {
        color: #333;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 2rem;
        letter-spacing: 2px;
        padding: 10px 16px;
        border-radius: 6px;
        border: 2px solid #868777;
        background-color: #EAEAE2;
    }
    
    @media(max-width:767px) {
        .pt .btn-book {
            font-size: 1.4rem;
            letter-spacing: 0px;
            padding: 5px 5px;
        }
    }
    
    .pt .btn-book:hover,
    .btn-book:focus,
    .btn-book:active {
        color: #4B2229;
        background-color: #fff;
        text-decoration: none
    }
    
    .content-section-a {
        padding: 1%;
    }
    
    #content-section-b {
        margin: 0px;
        padding: 0px;
        background: #E6E5DA;
        background: -moz-linear-gradient(top, #FFF 0%, #DBD9CA 100%);
        background: -webkit-linear-gradient(top, #FFF 0%, #DBD9CA 100%);
        background: linear-gradient(to bottom, #FFF 0%, #DBD9CA 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#DBD9CA', GradientType=0);
        background-color: #E6E5DA;
    }
    
    #content-section-b p {
        margin-left: 1.5rem;
        margin-right: 1rem;
        font-size: 1.5rem;
        color: #333435;
    }
    
    .content-section-c {
        padding: 1%;
        max-height: auto
    }
    
    a.darken {
        display: inline-block;
        background: black;
        padding: 0px;
    }
    
    a.darken img {
        display: block;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }
    
    a.darken:hover img {
        opacity: 0.3;
    }
    
    .overtext {
        float: left;
        text-align: left;
        padding: 0px 0px 20px;
        position: absolute;
        width: 100%;
        left: 40px;
        top: 10px;
        display: block
    }
    
    .overtext h3 {
        font-size: 2rem;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 400
    }
    
    .overtextsm {
        text-align: left;
        padding: 0px;
        position: absolute;
        width: 100%;
        left: 10px;
        bottom: 5px;
        display: block
    }
    
    .overtextsm p {
        font-size: 1.2rem;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 500
    }
    
    .section-heading {
        margin-bottom: 10px;
    }
    
    .section-heading h3 {
        text-align: center;
        font-size: 2.5rem;
        color: #333435;
        font-weight: 400
    }
    
    .section-heading p {
        margin: 0;
        font-size: 1rem;
        color: #333435;
        text-align: center
    }
    
    .section-heading-spacer {
        float: left;
        width: 200px;
        border-top: 3px solid #e7e7e7;
    }
    
    .banner {
        padding: 20px 0 20px 0;
        color: #102C46;
        background-color: #DBD9CA;
        text-align: center
    }
    
    .banner .row .right {
        padding: 15px 20px;
        margin-bottom: 10px
    }
    
    .banner .row .left {
        padding: 0px 20px 0 0;
        margin-bottom: 10px
    }
    
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        font-size: 3rem;
        font-weight: 300
    }
    
    .banner .btn-banner1 {
        height: 70px;
        padding: 20px;
        text-align: center;
        font-size: 2rem;
        border-radius: 6px;
        border: 2px solid #868777;
        background-color: #EAEAE2
    }
    
    .banner .btn-banner2 {
        height: 70px;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 6px;
        border: 2px solid #868777;
        background-color: #EAEAE2
    }
    
    .banner .btn-banner1:hover,
    .banner .btn-banner2:hover {
        background-color: #868777;
        border-color: #535238;
    }
    
    @media(max-width:992px) {
        ul.banner-social-buttons {
            text-align: center;
            margin-top: 15px;
        }
    }
    
    @media(max-width:767px) {
        .banner h2 {
            margin: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
            font-size: 2.5rem;
        }
        ul.banner-social-buttons>li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
        }
        ul.banner-social-buttons>li:last-child {
            margin-bottom: 0;
        }
    }
    
    .bg-cover {
        padding: 0px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-bottom: thin solid #FFF
    }
    
    #pvfooter {
        padding: 20px 0;
        background-color: #333;
        text-align: center
    }
    
    #pvfooter .pvfooterlogo {
        background: no-repeat center center;
        float: left;
        height: 50px;
        padding: 0px;
        margin: 0px 5px 10px 5px;
        width: 100%;
    }
    
    #pvfooter li.footerlinks a {
        color: #DAE1E7;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 10px;
    }
    
    #pvfooter li.footerlinks a:hover {
        color: #868777;
        border: none;
        text-decoration: none
    }
    
    #contactfooter {
        padding: 20px 0px 0px;
        background-color: transparent;
        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto
    }
    
    #contactfooter .contactfooterlogo {
        background: no-repeat center center;
        float: left;
        height: 50px;
        padding: 0px;
        margin: 0px 5px 10px 5px;
        width: 100%;
    }
    
    #contactfooter li {
        color: #DAE1E7;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 10px;
    }
    
    .copyright {
        color: #4C5B52;
        margin: 0px
    }
    
    .copyright a {
        color: #4C5B52;
    }
    
    .copyright a:hover {
        color: #65632F;
        text-decoration: none
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    Modal Content */ .modal-content {
        background-color: #ffffff;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 400px;
        text-align: left
    }
    
    .modal-content .close {
        color: #aaaaaa;
        float: right;
        font-size: 3rem;
        font-weight: bold;
    }
    
    .modal-content .close:hover,
    .modal-content .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .popuptext {
        font-weight: 400;
        line-height: 2rem;
        font-size: 1.2rem;
        margin: 10px;
        color: #000;
        opacity: 1
    }
    
    .popuptext span {
        font-style: italic;
        font-weight: 600;
        font-size: 1.4rem
    }