body {width: 400px; height: 200px;font-family: 'candara'; 
    background-color:lightblue; 
    border: 10px solid lightcoral; 
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;   
    padding-left: 10px; }