
body, #name, #email, #arrDate, #depDate, #adults, #children {margin-left: 20px; font-size: 20px;text-align: left; }



body {font-family: 'candara'; 
    background-color:lightblue; 
    height: auto;
    width: 400px; 
    border: 10px solid lightcoral; 
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;   
    padding-left: 10px; 
    }
#required {margin-left: 140px; font-style: italic;}
#name {margin-top: 10px; }
#email, #arrDate, #depDate, #adults {margin-top: 40px; }

#children {margin-top: 20px; margin-bottom: 40px;}

label {display: inline-block; width: 100px;}

#adults, #children {width: 50px;text-align: center;}

#submit, #add {float: left; color: lightcoral; background-color: lightskyblue; 
font-family:'candara'; font-size: 20px; border-radius: 5px;
 margin-left: 90px;}
  
 #thank, #guestList {font-size: 15px; text-align: center;margin-top: 10px;}

