.background {
    background-color: powderblue;
}
#title {
    color: rgb(6, 63, 63);
}
.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
    border-radius: 10px;
}
.button {
    float: left;
}
.button a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: rgb(6, 63, 63);
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button a:hover {
    background-color: rgb(7, 109, 109);
}
.whatWeOffer {
    position: absolute;
}
.whatWeOfferTitle {
    font-size: 23px;
    margin-left: 30px;
    text-decoration: underline;
    color: darkcyan;
}
.whatWeOfferList {
    font-size: 21px;
    list-style-type: circle;
    color: rgba(26, 7, 58, 0.61);
}   
.reservationButton {
    background-color: goldenrod;
    border: none;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    color: rgb(95, 66, 11);
    border-radius: 5px;
}
#expandedImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30px;
}
.container {
    position: absolute;
    left: 23%;
    top: 21%;
}
.column img {
    opacity: 0.8; 
    cursor: pointer; 
    border-radius: 5px;
  }
  .column img:hover {
    opacity: 1;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.description {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36;
    color: rgba(72, 41, 122, 0.61);
    left: 60%;
    top: 11%;
    font-size: larger;
}
.imageOne {
    position: absolute;
    top: 77%;
    left: 2%;
}
.imageTwo {
    position: absolute;
    top: 77%;
    left: 18.3%;
}
.imageThree {
    position: absolute;
    top: 77%;
    left: 34.9%;
}
.imageFour {
    position: absolute;
    top: 77%;
    left: 51.4%;
}
.imageFive {
    position: absolute;
    top: 77%;
    left: 67.8%;
}
.imageSix {
    position: absolute;
    top: 77%;
    left: 84%;
}
#hr1 {
    position: absolute;
    top: 99%;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: midnightblue;
    height: 1px;
}
.whereToFindUs {
    position: absolute;
    top: 103%;
    font-size: 23px;
    text-decoration: underline;
    color: darkcyan;
    margin-left: 30px;
}
.map {
    position: absolute;
    top: 110%;
    left: 20%;
    border: midnightblue;
    border-style: double;
    border-radius: 10px;
}
.address {
    position: absolute;
    top: 120%;
    left: 65%;
    font-size: larger;
    border: midnightblue;
    color: midnightblue;
}
#hr2 {
    position: absolute;
    top: 175%;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: midnightblue;
    height: 1px;
}
.pricelist {
    position: absolute;
    top: 177%;
    text-decoration: underline;
    color: darkcyan;
    margin-left: 30px;
}
.pricelistImage {
    position: absolute;
    left: 110%;
    border-radius: 10px;
}
#hr3 {
    position: absolute;
    top: 250%;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: midnightblue;
    height: 1px;
}
.whatGuestsLovedTheMost {
    position: absolute;
    top: 258%;
    text-decoration: underline;
    color: darkcyan;
    margin-left: 30px;
}
.review1 {
    position: absolute;
    top: 269%;
    left: 7%;
    font-style: italic;
    font-size: 18px;
}
.review2 {
    position: absolute;
    top: 269%;
    left: 28%;
    font-style: italic;
    font-size: 18px;
}
.review3 {
    position: absolute;
    top: 269%;
    left: 51%;
    font-style: italic;
    font-size: 18px;
}
.review4 {
    position: absolute;
    top: 269%;
    left: 75%;
    font-style: italic;
    font-size: 18px;
}
.reviewer1 {
    position: absolute;
    top: 306%;
    left: 7%;
}
.reviewer2 {
    position: absolute;
    top: 300%;
    left: 28%;
}
.reviewer3 {
    position: absolute;
    top: 308%;
    left: 51%; 
}
.reviewer4 {
    position: absolute;
    top: 306%;
    left: 75%;
}
#hr4 {
    position: absolute;
    top: 335%;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: midnightblue;
    height: 1px;
}
.contactFormTitle {
    position: absolute;
    top: 340%;
    text-decoration: underline;
    color: darkcyan;
    margin-left: 30px;
}
.contact-form{
    width: 92%;
    max-width: 700px;
    background: rgb(214, 233, 240);
    position: absolute;
    top: 382%;
    left: 25%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #7e7d7db3;
    font-family: "Montserrat",sans-serif;
  }
  .txtb{
    border:1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
  }
  .txtb label{
    display: block;
    text-align: left;
    color: rgb(85, 84, 84);
    font-size: 16px;
  }
  .txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    margin-top: 6px;
  }
  .btn{
    display: inline-block;
    background:darkcyan;
    padding: 14px 0;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }
#hr5 {
    position: absolute;
    top: 415%;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: midnightblue;
    height: 1px;
}
.copyright {
    position: absolute;
    top: 418%;
}
